* {
  box-sizing: border-box;
}

body {
  background-image: url('./src/DF850922-B226-4F1C-9A44-398EA05BB5F7.webp');
  background-size: cover;
  background-position: center;
  
}

.title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;

  @media screen and (min-width:37.5em) {
    font-size: 4.75rem;
  }
}

p {
  margin: 0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color: #444;
  font-weight: 100;
  width: 90%;

  @media screen and (min-width:37.5em) {
    height: 70%;
  }

}

.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: all .4s ease;

  @media screen and (min-width:37.5em) {
    height: 300px;
  }

  @media screen and (min-width:45em) {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}


.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}


.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;

  &:after {
    content: '';
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all .3s ease;
  }
}

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Oswald';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all .3s cubic-bezier(.3, 0, 0, 1.3);

  &:hover {
    background-color: white;
    color: #202020;
  }
}


.case-study:hover {

  .case-study__title {
    top: 0;
  }

  .case-study__link {
    top: 0;
  }

  .case-study__overlay:after {
    opacity: .75;
  }
}

.study1 {
  background-image: url('./src/IMG_2113.HEIC.webp');
  background-size: cover;
  background-position: center;
}

.study2 {
  background-image: url('./src/IMG_2575.HEIC.webp');
}

.study3 {
  background-image: url('./src/IMG_2965.HEIC.webp');
}

.study4 {
  background-image: url('./src/IMG_3092.HEIC.webp');
}

.study5 {
  background-image: url('./src/IMG_3164.HEIC.webp');
}

.study7 {
  background-image: url('./src/gal1.jpg');
}

.study8 {
  background-image: url('./src/gal2.jpg');
}

.study9 {
  background-image: url('./src/gal3.jpg');
}

.study10 {
  background-image: url('./src/gal4.jpg');
}

.study6 {
  background-image: url('./src/IMG_3655.heic.webp');

}